# debug module start-up
WIL_MODOPT=dyndbg
# station ap sniffer
WIL_MODE=ap

### for the STA

### for the AP/PCP
WIL_AP_IP="10.0.0.1"
# wpa_supplicant executable
WPA_SUPPLICANT=./wpa_supplicant
# wpa_supplicant config file, all AP config is there
WPA_CONF=ap.wpasup

### for the sniffer
# Y|1|y N|0|n
WIL_SNIFFER_PHYINFO=Y
# CP DP
WIL_SNIFFER_PHY=DP
WIL_FREQ=58320
